/* Header.css */
.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3vh;
}

.search-container {
    position: relative;
    margin-left: 3rem;
}

.searchBar {
    padding: 1rem;
    width: 30vw;
    border: solid 1px rgb(100, 100, 255);
    border-radius: 100px
}

.searchBtn {
    position: absolute;
    right: 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: rgb(100, 100, 255);
}

.logo {
    width: 200px;
    height: 60px;
    background-color: lightblue;
}