.sortButton {
    margin: 0 0 .5rem .5rem;
    padding: .5rem;
    border-radius: 100px;
    border: none;
}

.sortBtns {
    margin: 0.5rem 0 0 .5rem;
}

.sortBtns>button {
    background-color: rgba(100, 100, 255, 0.1);
    border: none;
    padding: 8px 13px;
    margin-right: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease-in-out;
}