.sortBtns {
    margin: 0 0 0 1rem;
    padding-bottom: 1rem;
}

.sortBtns>button {
    background-color: #ffe9ca;
    border: none;
    padding: 8px 13px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

@media (max-width: 770px) {
    .sortBtns {
        margin: .3rem;
    }
}

@media (max-width: 476px) {
    .sortBtns>button {
        font-size: 11px;
        padding: 8px 13px;
        margin: .3rem;
    }
}