.projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .5rem;
}

.projectDiv {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    cursor: pointer;
    padding: .5rem;
    transition: transform 0.5s ease-in-out;
}

.projectDiv:hover .projectThumbnail {
    border-radius: 0%;
    position: relative;
    transform: translateY(-8px);
}

.projectThumbnail {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 10px;
    transition: .5s;
    border: solid 1px rgba(100, 100, 255, 0.1);
}

.projectThumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    object-fit: cover;
}

.info {
    margin: .5rem 0 0 0.5rem
}

.projectTitle {
    font-size: 20px;
    padding-bottom: .3rem;
    font-weight: bold;
}

.projectStats {
    display: flex;
    align-items: center;
}

.projectStats span {
    color: #777777;
}

.temp {
    opacity: .5;
}

#nprogress .spinner {
    display: none !important;
}

.project-actions>button:hover {
    background-color: rgba(100, 100, 255, 0.5);
}