.project-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-detail-popup {
    background-color: white;
    padding: 20px;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
    animation: popupAnimation 0.3s forwards;
    overflow-y: auto;
}

@keyframes popupAnimation {
    0% {
        height: 90vh;
        width: 0;
        opacity: 0;
    }

    100% {
        width: 80vw;
        opacity: 1;
    }
}

@keyframes closePopupAnimation {
    0% {
        width: 80vw;
    }

    100% {
        height: 90vh;
        width: 0;
        opacity: 0;
    }
}

.project-detail-popup.closing {
    animation: closePopupAnimation 0.3s forwards;
}

.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.project-detail-container {
    display: flex;
    width: 100%;
    height: 95%;
}

.project-images-container img {
    width: 100%;
    /* 컨테이너 너비에 맞게 이미지 너비 조정 */
    max-height: 100%;
    /* 컨테이너 높이에 맞게 이미지 높이 조정 */
    object-fit: contain;
    /* 컨테이너 내에서 이미지 비율을 유지하면서 전체 이미지 보여줌 */
    object-position: center;
    /* 이미지가 컨테이너 중앙에 위치하도록 조정 */
}

.project-content-up {
    height: 760px;
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-content {
    min-height: 100px;
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.project-hashtags span {
    margin-right: 5px;
    cursor: pointer;
}

.project-image-slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    min-height: 300px;
    position: relative;
}

.project-images-container {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.project-image-slider-up {
    width: 100%;
    height: 400px;
}

.project-image-slider-up img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#slider-up {
    height: 300px;
}

.project-image-slider img {
    flex-shrink: 0;
    /* 이미지 축소 방지 */
    width: 100%;
    /* 슬라이더 너비에 맞게 이미지 너비 설정 */
    height: auto;
    /* 이미지 높이를 자동으로 조정하여 비율 유지 */
    object-fit: contain;
    /* 이미지 비율 유지 */
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.image-index-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.project-comments-section {
    flex: 1.5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #eee;
}

.comments-header h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.project-date-views {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-date,
.project-views {
    margin: 0;
}

.comments-list {
    flex: 1;
    overflow-y: scroll;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.comment-author {
    font-weight: bold;
    margin-right: 10px;
}

.commentContent {
    justify-content: space-between;
    align-items: flex-start;
}

.namediv {
    display: flex;
    margin-bottom: 3px;
}

.comment-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
}

.namediv strong {
    padding-right: 10px;
    margin-top: -1px;
}

.comment-date {
    font-size: 13px;
    color: #666;
    padding-bottom: 15px;
}

.comment p {
    margin-bottom: -5px;
}

.comment-input-section {
    display: flex;
    margin-top: 10px;
    border-top: solid 1px #eee;
    padding: 10px;
}

.comment-input-section input {
    flex: 1;
    padding: 10px;
    margin-left: -13px;
    border: none;
}

.comment-input-section button {
    background: none;
    color: rgb(100, 100, 255);
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.project-info {
    padding: 20px;
    overflow-y: visible;
}

.project-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.project-date {
    font-size: 0.9em;
    color: #666;
}

.project-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.author-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.project-author {
    font-size: 1em;
    font-weight: bold;
}

.project-actions {
    display: flex;
}

.like-button {
    background-color: rgba(100, 100, 255, 0.15);
    color: rgb(100, 100, 255);
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50px;
    min-width: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.download-button,
.bookmark-button,
.edit-button,
.delete-button,
.share-button {
    background-color: rgba(100, 100, 255, 0.15);
    color: rgb(100, 100, 255);
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.project-actions>button:hover {
    background-color: rgba(100, 100, 255, 0.3);
}

.project-description {
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.rating-input-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-input-section button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.rating-input-section .star {
    font-size: 24px;
    color: #ccc;
}

.rating-input-section .on .star {
    color: #ffc107;
}

/* 별점 컨테이너 및 별 모양에 마우스 오버 시 */
.rating-input-section button:hover .star,
.rating-input-section button:focus .star {
    color: #ffeb3b;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-startD;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.commentContent {
    flex-grow: 1;
    margin-right: 10px;
}

.project-images-container {
    min-height: 100px;
}

.deleteComment {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    align-self: flex-start;
}

.comment-likes {
    justify-content: right;
}

.like-comment-button {
    border: none;
    background: none;
    cursor: pointer;
}

.comment-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.commentContent,
.comment-likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-text-and-delete {
    position: relative;
}

.comment-likes {
    bottom: 10px;
    right: 0px;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .project-detail-popup {
        width: 95vw;
        padding: 5px;
    }

    .project-images-container img {
        max-height: 200px;
    }

    .project-detail-container {
        flex-direction: column;
    }

    .project-comments-section {
        padding: 5px;
    }

    .author-info img,
    .comment-profile-image {
        width: 30px;
        height: 30px;
    }

    .project-info,
    .comment-input-section input,
    .comment-input-section button {
        padding: 10px;
        font-size: 0.8rem;
    }

    .slider-button,
    .like-button,
    .bookmark-button,
    .edit-button,
    .delete-button,
    .share-button,
    .download-button {
        padding: 5px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {

    .project-title,
    .project-author,
    .comment p,
    .comment-date {
        font-size: 0.7rem;
    }

    .project-description,
    .comments-list {
        max-height: 150px;
    }
}

@media screen and (max-width: 1029px) {

    .project-date-views span {
        font-size: 12px;
    }

    body,
    button,
    input,
    textarea {
        font-size: 14px;
        /* 작은 화면에서의 폰트 크기 조정 */
    }

    .slider-button,
    .like-button,
    .bookmark-button,
    .edit-button,
    .delete-button,
    .share-button,
    .download-button {
        width: 33px;
        height: 33px;
        padding: 5px;
    }

    .project-date-views {
        flex-direction: column;
    }
}

@media screen and (max-width: 870px) {

    .project-date-views {
        flex-direction: row;
    }

    .project-info-body,
    .project-info-header {
        flex-direction: column;
        align-items: start;
    }

    .project-actions button {
        margin: 3px;
    }
}

@media screen and (max-width: 480px) {

    body,
    button,
    input,
    textarea {
        font-size: 12px;
        /* 더 작은 화면에서의 폰트 크기 조정 */
    }

    .project-info-body,
    .project-info-header {
        flex-direction: column;
        align-items: start;
    }

    .project-actions button {
        margin-left: 3px;
    }
}