.project-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-detail-popup {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.project-detail-container {
    display: flex;
    margin-top: 20px;
}

.project-image-slider {
    flex: 1;
    position: relative;
    margin-right: 20px;
}

.project-image-slider img {
    width: 100%;
    height: auto;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.project-comments-section {
    flex: 1;
    /* 여기에 댓글 섹션 스타일을 추가하세요 */
}

.image-index-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}