body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select:focus,
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤바 트랙 (바탕) */
::-webkit-scrollbar-track {
  background: #ffe9ca;
  border-radius: 5px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #f8d39e;
  border-radius: 100px;
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #E1B77C;
}

.scroll_container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll_container::-webkit-scrollbar {
  display: none;
  width: 0;
  /* Remove scrollbar space */
  height: 0;
  background: transparent;
  /* Optional: just make scrollbar invisible */
  -webkit-appearance: none;
}

#root {
  overflow: hidden;
}